# 构建配置
**/*.map
**/*.ts
tsconfig.json
eslint.config.mjs
.vscode-test.mjs

# 版本控制
.git/
.gitignore

# VS Code 配置
.vscode/
.vscode-test/
**/.vscode-test.*

# 依赖
node_modules/
.venv/
.python-version
pyproject.toml
uv.lock

# 文档与开发配置
docs/
tools/
server/
config.ini
config.example.ini

# 其他
.yarnrc
*.vsix
__pycache__/
.github/