# 源码
complete/src/
complete/test/
complete/out/test/

# 构建配置
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
pack.ps1

# 版本控制
.git/
.gitignore

# VS Code 配置
.vscode/
.vscode-test/
**/.vscode-test.*

# 依赖
node_modules/
.venv/
.python-version
pyproject.toml
uv.lock

# 文档
/*.md
complete/*.md
docs/
addon/README.md
README.md.bak
README.en.md

# 其他
.yarnrc
*.vsix
__pycache__/
tools/
out/
server/
.github/
config.ini
config.example.ini